@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600&display=swap");

body {
  background-image: linear-gradient(
    45deg,
    hsl(262deg 100% 80%) 0%,
    hsl(268deg 100% 80%) 20%,
    hsl(273deg 100% 79%) 29%,
    hsl(279deg 100% 79%) 36%,
    hsl(284deg 100% 79%) 43%,
    hsl(288deg 100% 79%) 50%,
    hsl(278deg 99% 80%) 57%,
    hsl(266deg 98% 81%) 64%,
    hsl(251deg 96% 82%) 71%,
    hsl(233deg 95% 80%) 80%,
    hsl(219deg 95% 75%) 100%
  );
  font-family: "Montserrat", sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  background: #ebd8ff;
  box-shadow: 0px 3.4369285106658936px 3.4369285106658936px 0px
    rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #373737;
}

button:hover {
  box-shadow: 0px 8px 8px 4px rgba(0, 0, 0, 0.25);
}
a {
  text-decoration: none;
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btnFollow {
  padding: 14px 28px;
  width: 196px;
  margin-top: 16px;
}

.btnFollowing {
  padding: 14px 28px;
  width: 196px;
  background: #5cd3a8;
  margin-top: 16px;
}
